$Very_Dark_Blue: hsl(243, 87%, 12%);
$Desaturated_Blue: hsl(238, 22%, 44%);
$Bright_Blue: hsl(224, 93%, 58%);
$Hover_Bright_Blue: hsl(224, 93%, 68%);
$Moderate_Cyan: hsl(170, 45%, 43%);
$Hover_Moderate_Cyan: hsl(170, 45%, 53%);
$Light_Grayish_Blue: hsl(240, 80%, 98%);
$Light_Gray: hsl(0, 0%, 75%);
